**/tags
**/TAGS
**/.#*
/dist-newstyle
**/*~
**/*.kate-swp
**/.directory
**/.dir-locals.el
**/.envrc
**/.envrc.cache
/dist
/tmp
**/.stack-work
**/.cabal-sandbox
**/*.db
**/.ghc.environment*
ghcjs-result
ghc-result