**/tags
**/TAGS
**/.#*
**/dist-newstyle
/examples/dist-newstyle
**/*~
**/*.kate-swp
**/.directory
**/.dir-locals.el
**/.envrc
**/.envrc.cache
/dist
/tmp
**/.stack-work
**/.cabal-sandbox
**/*.db
**/.ghc.environment*
/.*-env
result
dist
out
locals.nix
screenlog.*