**/tags
**/TAGS
**/.#*
**/dist-newstyle
/examples/dist-newstyle
**/*~
**/*.kate-swp
**/.directory
**/.dir-locals.el
**/.envrc
**/.envrc-ghcjs
/dist
/tmp
**/.stack-work
**/.cabal-sandbox
**/*.db
**/.ghc.environment*
/.*-env
result
dist
out
doc
locals.nix
node_modules
package.json
yarn.lock
benchmarks.jsexe
benchmarks